form{
    display: flex;
    flex-direction: column;
}
.form-container{
    display: flex;
    flex-direction: column;
    width: 350px;
    text-align: center;
    background-color: #181818;
    border: solid 1px #353535;
    border-radius: 10px;
    padding: 30px 50px;
}
.form-title{
    font-size: 30px;
    margin-bottom: 20px;
}
.form-group {
    margin-bottom: 20px;
}
.form-group label {
    font-size: 25px;
}
.form-group input {
    width: 100%;
    box-sizing: border-box;
    height: 48px;
    margin-top: 15px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    padding-left: 10px;
}
.form-group input:focus{
    outline: none;
    box-shadow: 0px 1px 10px 5px red;
}
.button-container{
    margin: 20px 0px;
}
.button-container button {
    padding: 12px 40px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
}
.register{
    margin: 10px 0px;
}